/*
font-family: 'Poppins', sans-serif; 
 */
/**
COMMON CSS
**/
img{
    width: 100%;
}
*{
    margin: 0;
    

}
body{
    box-sizing: border-box;
    max-width: 375px;
    margin: 0 auto;
    background-color: #ddd;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    color: #303030;
    font-weight: 600;
    margin:  0;
}
p, span, a{
    font-family: 'Poppins', sans-serif;
    color: #303030;
    font-weight: 400;
    margin:  0;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
    color: #303030;
}
.container {
    padding: 0 20px;
    
    /* max-height: 812px; */
}
.row{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
}
/**
COMMON CSS
**/
/**
SPLASH SCREEN SECTION START
**/
.spalsh-screen {
    background-image: url(../image/Bgfood.png);
    background-repeat: no-repeat;
    height: calc(100vh - 0px);
    background-size: cover;
    background-position: center;
}
.spalsh-screen .msg p {
    color: #ffffff;
    font-weight: 600;
}
.spalsh-screen .msg p span{
    color: #ffffff;
    margin-left: 5px;
}
.spalsh-screen .msg {
    text-align: center;
}
.spalsh-screen .splash-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.splash-title h3 {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.2;
}
.splash-title .splash-content p{
    color: #ffffff;
    
}
.spalsh-screen .row{
    flex-direction: column;
    justify-content: space-between;
    
    height: 100vh;
}
.spalsh-screen .row {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
}
/**
SPLASH SCREEN SECTION END
**/
/**
NOTIFICATION SECTION START
**/
section.notification-section {
    padding-top: 20px;
    background-color: #ffffff;
}
.tdi_3 {
    padding: 0 10px;
    flex-direction: column;
    margin-bottom: 20px;
}
.notifications {
    width: 100%;
    margin-bottom: 30px;
}
h4.notifications-title {
    float: left;
    font-size: 24px;
    line-height: 1.2;
}
.notifications span {
    float: right;
}
.fill-nocolor-btn{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    background-color: #ffffff;
    border-style: none;
    color: #E23E3E;
    padding: 16px 32px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    
}
.fill-red-btn{
    background-color: #E23E3E;
    border-style: none;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 10px;
    margin: 0 auto;
    
}
.follow-author .fill-red-btn{
    background-color: #E23E3E;
    cursor: pointer;
    padding: 8px 16px;
}
.author-location {
    display: flex;
    align-items: center;
}
.buttons button.fill-red-btn {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    width: 107px;
    margin: 0;
    cursor: pointer;
    color: #ffffff;
    background-color: ##E23E3E;
}
.buttons button.fill-nocolor-btn {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    width: 107px;
    margin: 0;
}
.recipe-title.tdi_6 {
    margin-bottom: 30px;
}
.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}
p.recipe-date {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
}
p.recipe-content {
    color: #A9A9A9;
    font-size: 12px;
    line-height: 1.2;
    max-width: 80%;
}
.recipe-title h3.title {
    font-size: 12px;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
}
.recipe-notification {
    display: flex;
    border-radius: 12px;
    padding: 12px 16px;
    background-color: #F1F1F1;
    column-gap: 12px;
    margin-bottom: 20px;
    position: relative;
}
.recipe-notification a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title span {
    font-size: 4em;
    position: absolute;
    top: -40px;
    right: 0;
    color: #E23E3E;
}
.recipes {
    margin-bottom: 20px;
}
.tdi_4{
    margin-bottom: 0;
}
.notification-bottom-text p {
    color: #A9A9A9;
    font-size: 10px;
    line-height: 1.2;
}
/* .navigation ul {
    align-items: center;
    display: flex;
    justify-content: center;
} */
.navigation {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0px -1px 8px rgba(108, 108, 108, 0.08);
    width: 100%;
    position: static;
    /* bottom: 0; */
}
/* li.list:nth-child(1) {
    margin-left: 0;
} */
li.list {
    float: left;
    /* margin-left: 20px; */
}
svg.small-icon {
    width: 25px;
    height: auto;
}
span.icon {
    display: flex;
}


.red-bg{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    top: -23px;
    left: -16px;
}
span.icon.red-bg::before {
    content: '';
    position: absolute;
    top: 36%;
    background: transparent;
    width: 20px;
    height: 20px;
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 9px -7px 8px rgb(108 108 108 / 8%);
}
span.icon.red-bg::after {
    content: '';
    position: absolute;
    top: 48%;
    background: transparent;
    width: 20px;
    height: 20px;
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -7px -7px 8px rgb(108 108 108 / 8%);
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
li.list {
    position: relative;
}
.tdi_5{
    position: relative;
    /* height: 812px; */
}
.indicator {
    background: red;
    position: absolute;
    width: 35px;
    height: 36px;
    left: -6px;
    border-radius: 50px;
    top: -5px;
    transition: .5s ;
    opacity: 0;
}
/**
NOTIFICATION SECTION END
**/
/**
RECIPE DETAILS SECTION START
**/
section.recipe-detail {
    padding-top: 20px;
    background-color: #ffffff;
}
/* .recipe-details {
    padding: 0 10px;
} */
.navigation-arrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tdi_6 h3.title {
    font-size: 24px;
    line-height: 1.2;
    width: 300px;
    margin-bottom: 20px;
}
.recipe-image {
    padding-top: 24vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    background-position: center;
}
.play-button-icon {
    position: absolute;
    top: 34%;
    right: 43%;
}
a.play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
span.rating-number {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    margin-left: 10px;
}
.rating-number span {
    color: #A9A9A9;
    margin-left: 5px;
}
i.fas.fa-star {
    color: #FFB661;
}
.rating {
    margin-bottom: 15px;
}
.author {
    display: flex;
    column-gap: 15px;
}
.author-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
p.author-name {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
}
.author-location span {
    font-size: 14px;
    line-height: 1.4;
    color: #A9A9A9;
    margin-left: 5px;
}
i.fa-solid.fa-location-dot {
    color: #E23E3E;
}
.author-rating {
    margin-bottom: 30px;
}
.ingredient p {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
}
.ingredient span {
    font-size: 14px;
    line-height: 1.2;
    color: #A9A9A9;
}
.ingredients-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.ingredients-item {
    border-radius: 12px;
    background: #F1F1F1;
    padding: 15px;
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
}
.ingredients-icon {
    background: #ffffff;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}
.ingredients-icon img {
    width: 100%;
}
.ingredients-details span {
    font-size: 14px;
    line-height: 1.2;
    color: #A9A9A9;
}
.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ingredients-details p {
    font-weight: 600;
}
/**
RECIPE DETAILS SECTION END
**/
/**
DISCOVER RECIPE SECTION START
**/
.discover-section{
    padding-top: 20px;
    background-color: #ffffff;
    
}
.save-recipes{
    padding: 0 10px;
    margin-bottom: 20px;
    
}
.save-recipe {
    margin-bottom: 15px;
}
/* .save-recipe:last-child {
    margin-bottom: 0;
} */
.save-recipes button.fill-nocolor-btn {
    width: 172px;
}
.save-recipes button.fill-red-btn {
    width: 172px;
}
.recipe-image .icon-background {
    background: rgba(48, 48, 48, 0.3);
    padding: 3vh;
    /* opacity: .5; */
    border-radius: 50%;
    /* width: 10%; */
    backdrop-filter: blur(5px);
}
button.play {
    background: transparent;
    border: none;
    cursor: pointer;
}
button.recipe-bookmark {
    border: none;
    cursor: pointer;
}
i.fas.fa-play {
    position: absolute;
    top: 37%;
    left: 45%;
    color: #ffffff;
}
.recipe-rating i.fas.fa-star {
    color: #ffffff;
    font-size: 14px;
}
.recipe-rating span {
    font-weight: 600;
    color: #ffffff;
    margin-left: 5px;
}
.recipe-rating {
    position: absolute;
    top: 11px;
    padding: 4px 10px;
    border-radius: 5px;
    left: 14px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.3);
}
.recipe-bookmark {
    position: absolute;
    top: 15px;
    right: 14px;
    background: #ffffff;
    width: 12%;
    height: 16%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    filter: drop-shadow(0px 8px 25px rgba(32, 32, 32, 0.15));
}
.recipe-bookmark i.fas.fa-bookmark {
    color: red;
    font-size: 20px;
}
.recipe-playtime span {
    right: 11px;
    bottom: 13px;
    color: #fff;
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.3);
}
.recipe-name h3.title {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom:10px;
}
i.fa.fa-ellipsis-h {
    float: right;
}
.author-thumb {
    display: flex;
    align-items: center;
    width: 50px;
}
.tdi_7 {
    align-items: center;
}
.tdi_7 p.author-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #A9A9A9;
}

/**
DISCOVER RECIPE SECTION END
**/
/**
CREATE RECIPE SECTION START
**/
section.create-recipe-section {
    padding-top: 20px;
    background-color: #ffffff;
}
.serve .ingredients-item {
    align-items: center;
    justify-content: space-between;
}
.server-icon-text p {
    display: flex;
    column-gap: 15px;
    align-items: center;
    font-weight: 600;
}
.server-icon-text p span {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    justify-content: center;
}
.server-number-arrow p {
    display: flex;
    column-gap: 10px;
}
.server-number-arrow a {
    display: flex;
    align-items: center;
}
.field {
    border-radius: 12px;
    padding: 12px 16px;
    margin-bottom: 15px;
    border: 2px solid #E23E3E;
}
.field p {
    font-size: 14px;
    line-height: 1.2;
}
form.save-item {
    display: flex;
    /* justify-content: center; */
}
form.save-item .input-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.type2 input[type="text"] {
    padding: 12px 16px;
    width: 75px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.type1 input[type="text"] {
    padding: 12px 16px;
    width: 143px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.save-item span {
    border: 2px solid #181818;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

/**
CREATE RECIPE SECTION END
**/
